<img class="logo" src="<%= root %>assets/images/logos/sass.svg" alt="Sass">

<h2>Categories</h2>
<nav class="categories styleguide-nav-categories styleguide-tree" data-tree>
    <% tree = helper.renderCollectionTree('category'); %>
    <%-
        include('./menu', {
            items: tree.children
        })
    %>
</nav>

<h2>Tags</h2>
<nav class="tags styleguide-nav-tags">
<% config.collection.tag.forEach((tag) => { %>
    <a class="link" href="<%= root %>tag/<%= tag %>/index.html"><%= tag %></a>
<% }) %>
</nav>
